.gameCard {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.gameCard:hover {
  animation: spin 4s linear infinite;
  cursor: pointer;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.gameCard--flipped {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border-radius: 50%;
}
