.back,
.front {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.back:hover {
  animation: spin 4s linear infinite;
  cursor: pointer;
}

.front {
  background-color: lightgray;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
